 h1 {
font-size: 70px;
margin: 0 0 20px;
padding: 10px 0;
font-weight: normal;
text-align: center;
text-shadow: 1px 1px 1px #ccc;
color: #C62828;
font-family: 'Poiret One', cursive;
}     
    body {
    background-image: url("images/7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
    h2{ 
    background: pink;
    text-align: left;
    border: 1px solid #ddd;
    font-family: 'Raleway', sans-serif;
    bacground-width: 400px;
}   
    h3{ 
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
             }   
    img { 
    margin: auto;
    display: block;
    width: 250px;
    height: 400px;
    }
    button {
    background-color: blueviolet;
    color: black;
    font-size: 15px;
    border-radius: 20px;
    margin-right: 15px;
        }
p {
    font-family: 'Handlee', cursive; 
    font-size: 20px;
}
